/* cascading style sheets */
/* css selector */
h1 {color: purple;}

p {color: blue;
	/* CSS property: value; */
}

button {
	/* this changes the background */
	background: tomato;
	color: white;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: -5px 5px 5px grey;
	padding: 20px 30px;
	/* padding makes the box bigger */

	
}